.container {
    left:0;
    top:0;
    right: -18px;
    bottom: -18px;
    position: absolute;
    overflow: scroll;
}

.container-no-scroll-bar {
    width: 600px;
    height: 400px;
    background-color: #efefef;
    margin: 20px auto;
    cursor: move;
    position: relative;
    overflow: hidden;
    
}

.tools {
    position: fixed;
    z-index: 100;
    top: 30px;
    left: 50%;
}
.tools > button {
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, .4);
}

#canvas {
    width: 600px;
    height: 400px;
    transition: all .5s ease-in-out;
    position: relative;
    background-color: lightyellow;
}

.src {
    width: 60px;
    height: 60px;
    background-color: pink;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.dest {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
